In [1]:
import pandas as pd
import numpy as np

In [3]:
weather = pd.read_csv('weather_daily_agg.csv')
traffic = pd.read_csv('traffic_daily_agg.csv')

In [4]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   AVERAGE_FELT_TEMPERATURE  420 non-null    object
 1   AVERAGE_ROAD_TEMPERATURE  420 non-null    object
 2   MINIMUM_FELT_TEMPERATURE  420 non-null    object
 3   DATE                      418 non-null    object
 4   MINIMUM_PRECIPITATION     418 non-null    float64
 5   MAXIMUM_HUMIDITY          418 non-null    float64
 6   MAXIMUM_FELT_TEMPERATURE  418 non-null    float64
 7   MAXIMUM_PRECIPITATION     418 non-null    float64
 8   MAXIMUM_TEMPERATURE       418 non-null    float64
 9   AVERAGE_HUMIDITY          418 non-null    float64
 10  AVERAGE_WIND              418 non-null    float64
 11  AVERAGE_DIRECTIONOFWIND   418 non-null    float64
 12  MINIMUM_TEMPERATURE       418 non-null    float64
 13  AVERAGE_TEMPERATURE       418 non-null    float64
 14  MAXIMUM_ROAD_TEMPERATURE  418 non-null    float64
 15  MINIMUM_HUMIDITY          418 non-null    float64
 16  MINIMUM_DIRECTIONOFWIND   418 non-null    float64
 17  MINIMUM_WIND              418 non-null    float64
 18  MAXIMUM_DIRECTIONOFWIND   418 non-null    float64
 19  MINIMUM_ROAD_TEMPERATURE  418 non-null    float64
 20  MAXIMUM_WIND              418 non-null    float64
 21  AVERAGE_PRECIPITATION     418 non-null    float64
dtypes: float64(18), object(4)
memory usage: 72.3+ KB

In [7]:
weather[weather['MAXIMUM_HUMIDITY'].isna()]

,AVERAGE_FELT_TEMPERATURE,AVERAGE_ROAD_TEMPERATURE,MINIMUM_FELT_TEMPERATURE,DATE,MINIMUM_PRECIPITATION,MAXIMUM_HUMIDITY,MAXIMUM_FELT_TEMPERATURE,MAXIMUM_PRECIPITATION,MAXIMUM_TEMPERATURE,AVERAGE_HUMIDITY,...,MINIMUM_TEMPERATURE,AVERAGE_TEMPERATURE,MAXIMUM_ROAD_TEMPERATURE,MINIMUM_HUMIDITY,MINIMUM_DIRECTIONOFWIND,MINIMUM_WIND,MAXIMUM_DIRECTIONOFWIND,MINIMUM_ROAD_TEMPERATURE,MAXIMUM_WIND,AVERAGE_PRECIPITATION
343,https://data.ibb.gov.tr/api/3/action/help_show...,False,Internal Server Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,https://data.ibb.gov.tr/api/3/action/help_show...,False,Internal Server Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pd.to_datetime(weather['DATE']).dt.to_period('M').unique()

<PeriodArray>
['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07',
 '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',     'NaT', '2021-02',
 '2021-03', '2021-04']
Length: 16, dtype: period[M]

In [18]:
pd.to_datetime(traffic['DATE']).dt.to_period('M').unique()

<PeriodArray>
['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07',
 '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02',
 '2021-03', '2021-04', '2021-05']
Length: 17, dtype: period[M]

In [19]:
import requests
import pandas as pd
import json
from data_scrape import get_table_names, run_sql

In [24]:
def weather_agg(table_id):
    columns = run_sql('SELECT * FROM "TABLE_PLACEHOLDER" LIMIT 10', table_id, True)['id'].tolist()
    col_numeric = ''
    daily_avgs = ''
    not_99 = ''
    for col in columns[5:]:
        col_numeric+= f'"{col}"::numeric(5,2),'
        daily_avgs+= f'{col[:3].replace("E","G")}("{col}")::numeric(5,2) AS "{col}",'
        not_99 += f'"{col}"::numeric(5,2) != -99 AND '
    col_numeric = col_numeric[:-1]     
    daily_avgs = daily_avgs[:-1]
    not_99 = not_99[:-5]
    
    sql_query = f'''
    WITH temp_table AS (
    SELECT DATE_TRUNC('day', "DATE_TIME"::date)::date AS "DATE", {col_numeric}
    FROM "TABLE_PLACEHOLDER" 
    WHERE {not_99}
    )

    SELECT "DATE", {daily_avgs}
    FROM temp_table
    GROUP BY "DATE"
    ORDER BY "DATE"
    '''
    return pd.DataFrame(run_sql(sql_query, table_id))

In [32]:
df = weather_agg('8ca0081a-333c-4e86-8ea2-ab8741bbfc95')

In [33]:
df

,help,success,error
__type,https://data.ibb.gov.tr/api/3/action/help_show...,False,Internal Server Error
message,https://data.ibb.gov.tr/api/3/action/help_show...,False,Internal Server Error

In [40]:
columns = run_sql('SELECT * FROM "TABLE_PLACEHOLDER" LIMIT 10', "c2b69b97-e078-4b08-92ec-a4649cc54bd9", True)['id'].tolist()
col_numeric = ''
daily_avgs = ''
not_99 = ''
for col in columns[5:]:
    col_numeric+= f'"{col}"::numeric(5,2),'
    daily_avgs+= f'{col[:3].replace("E","G")}("{col}")::numeric(5,2) AS "{col}",'
    not_99 += f'"{col}"::numeric(5,2) != -99 AND '
col_numeric = col_numeric[:-1]     
daily_avgs = daily_avgs[:-1]
not_99 = not_99[:-5]

sql_query = f'''
WITH temp_table AS (
SELECT DATE_TRUNC('day', "DATE_TIME"::date)::date AS "DATE", {col_numeric}
FROM "TABLE_PLACEHOLDER" 
WHERE {not_99}
)

SELECT "DATE", {daily_avgs}
FROM temp_table
GROUP BY "DATE"
ORDER BY "DATE"
'''

In [41]:
columns

['_id',
 '_full_text',
 'DATE_TIME',
 'OBSERVATORY_NAME',
 'SENSOR_TYPE',
 'MINIMUM_TEMPERATURE',
 'MAXIMUM_TEMPERATURE',
 'AVERAGE_TEMPERATURE',
 'MINIMUM_HUMIDITY',
 'MAXIMUM_HUMIDITY',
 'AVERAGE_HUMIDITY',
 'MINIMUM_WIND',
 'MAXIMUM_WIND',
 'AVERAGE_WIND',
 'MINIMUM_DIRECTIONOFWIND',
 'MAXIMUM_DIRECTIONOFWIND',
 'AVERAGE_DIRECTIONOFWIND',
 'MINIMUM_PRECIPITATION',
 'MAXIMUM_PRECIPITATION',
 'AVERAGE_PRECIPITATION',
 'MINIMUM_ROAD_TEMPERATURE',
 'MAXIMUM_ROAD_TEMPERATURE',
 'AVERAGE_ROAD_TEMPERATURE',
 'MINIMUM_FELT_TEMPERATURE',
 'MAXIMUM_FELT_TEMPERATURE',
 'AVERAGE_FELT_TEMPERATURE']

In [64]:
sql_query = f'''
SELECT "MINIMUM_TEMPERATURE"
FROM "TABLE_PLACEHOLDER"
'''
run_sql(sql_query, "c2b69b97-e078-4b08-92ec-a4649cc54bd9")

      MINIMUM_TEMPERATURE
0                    -6.3
1                   4.131
2                   10.27
3                     8.5
4                   10.41
...                   ...
41873               10.18
41874               2.378
41875               12.65
41876               7.989
41877              -4.538

[41878 rows x 1 columns]

In [63]:
sql_query = sql_query.replace('TABLE_PLACEHOLDER',"c2b69b97-e078-4b08-92ec-a4649cc54bd9")
source = requests.get(f'https://data.ibb.gov.tr/api/3/action/datastore_search_sql?sql={sql_query}')
source.text

'{"help": "https://data.ibb.gov.tr/api/3/action/help_show?name=datastore_search_sql", "success": false, "error": {"message": "Internal Server Error", "__type": "Internal Server Error"}}'